<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.controllerapp.jdfree.jjandroidedustudy.controllerapp">

    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.ACTION_USAGE_ACCESS_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 스플래시 액티비티 -->
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllAppListControlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CheckTimeActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".controller.CheckTimeAppControllerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.AppControlActivity" />
        <activity
            android:name=".activity.AppStatsUpdateActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>